<section class="py-8 px-3 px-sm-4 px-md-5 full-height">
  <div class="max-width-1200 mx-auto">
    <h1 class="mb-3">No honey in here.</h1>
    <p class="mb-4">Sorry, the page you’re looking for doesn’t exist.</p>
    <a href="/" class="btn btn-lg bg-purple-gradient px-4 py-2">Go Home</a>
  </div>
</section>